SanMarIntegration/Web References/com.sanmar.ws_inventoryservicebindingvfinal/Inventory_v2_0_0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.promostandards.org/WSDL/Inventory/2.0.0/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="Inventory_v2_0_0" targetNamespace="http://www.promostandards.org/WSDL/Inventory/2.0.0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:ns2="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" xmlns:ns1="http://www.promostandards.org/WSDL/Inventory/2.0.0/" elementFormDefault="qualified" targetNamespace="http://www.promostandards.org/WSDL/Inventory/2.0.0/">
      <xsd:import schemaLocation="https://ws.sanmar.com:8080/promostandards/InventoryServiceBindingV2final?xsd=1" namespace="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" />
      <xsd:element name="GetFilterValuesRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns2:wsVersion" />
            <xsd:element ref="ns2:id" />
            <xsd:element minOccurs="0" ref="ns2:password" />
            <xsd:element ref="ns2:productId" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetFilterValuesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="FilterValues">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element ref="ns2:productId" />
                  <xsd:element ref="ns2:Filter" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ns2:ServiceMessageArray" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetInventoryLevelsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns2:wsVersion" />
            <xsd:element ref="ns2:id" />
            <xsd:element minOccurs="0" ref="ns2:password" />
            <xsd:element ref="ns2:productId" />
            <xsd:element minOccurs="0" ref="ns2:Filter" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetInventoryLevelsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="ns2:Inventory" />
            <xsd:element minOccurs="0" ref="ns2:ServiceMessageArray" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetFilterValuesRequestMessage">
    <wsdl:part name="GetFilterValuesRequest" element="tns:GetFilterValuesRequest" />
  </wsdl:message>
  <wsdl:message name="GetFilterValuesResponseMessage">
    <wsdl:part name="GetFilterValuesResponse" element="tns:GetFilterValuesResponse" />
  </wsdl:message>
  <wsdl:message name="getInventoryLevelsRequest">
    <wsdl:part name="GetInventoryLevelsRequest" element="tns:GetInventoryLevelsRequest" />
  </wsdl:message>
  <wsdl:message name="getInventoryLevelsResponse">
    <wsdl:part name="GetInventoryLevelsResponse" element="tns:GetInventoryLevelsResponse" />
  </wsdl:message>
  <wsdl:portType name="InventoryServiceV2final">
    <wsdl:operation name="getFilterValues">
      <wsdl:input message="tns:GetFilterValuesRequestMessage" />
      <wsdl:output message="tns:GetFilterValuesResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="getInventoryLevels">
      <wsdl:input message="tns:getInventoryLevelsRequest" />
      <wsdl:output message="tns:getInventoryLevelsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InventoryServiceBindingV2final" type="tns:InventoryServiceV2final">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getFilterValues">
      <soap:operation soapAction="getFilterValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInventoryLevels">
      <soap:operation soapAction="getInventoryLevels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryServiceV2final">
    <wsdl:port name="InventoryServiceBindingV2final" binding="tns:InventoryServiceBindingV2final">
      <soap:address location="https://ws.sanmar.com:8080/promostandards/InventoryServiceBindingV2final" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>