SanMarIntegration/Web References/com.sanmar.ws_sanmarproductinfoserviceport/SanMarProductInfoServicePort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://impl.webservice.integration.sanmar.com/" targetNamespace="http://impl.webservice.integration.sanmar.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getProductBulkInfo" type="tns:getProductBulkInfo" />
  <xs:element name="getProductBulkInfoResponse" type="tns:getProductBulkInfoResponse" />
  <xs:element name="getProductDeltaInfo" type="tns:getProductDeltaInfo" />
  <xs:element name="getProductDeltaInfoResponse" type="tns:getProductDeltaInfoResponse" />
  <xs:element name="getProductInfoByBrand" type="tns:getProductInfoByBrand" />
  <xs:element name="getProductInfoByBrandResponse" type="tns:getProductInfoByBrandResponse" />
  <xs:element name="getProductInfoByCategory" type="tns:getProductInfoByCategory" />
  <xs:element name="getProductInfoByCategoryResponse" type="tns:getProductInfoByCategoryResponse" />
  <xs:element name="getProductInfoByStyleColorSize" type="tns:getProductInfoByStyleColorSize" />
  <xs:element name="getProductInfoByStyleColorSizeResponse" type="tns:getProductInfoByStyleColorSizeResponse" />
  <xs:complexType name="getProductDeltaInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:webServiceUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="webServiceUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="sanMarCustomerNumber" type="xs:string" />
      <xs:element minOccurs="0" name="sanMarUserName" type="xs:string" />
      <xs:element minOccurs="0" name="sanMarUserPassword" type="xs:string" />
      <xs:element minOccurs="0" name="senderId" type="xs:int" />
      <xs:element minOccurs="0" name="senderPassword" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductDeltaInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:productInfoResponseBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productInfoResponseBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="blob" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="errorOccured" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listResponse" nillable="true" type="tns:productInfo" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="productBasicInfo" type="tns:productBasicInfo" />
      <xs:element minOccurs="0" name="productImageInfo" type="tns:productImageInfo" />
      <xs:element minOccurs="0" name="productPriceInfo" type="tns:productPriceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productBasicInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="availableSizes" type="xs:string" />
      <xs:element minOccurs="0" name="brandName" type="xs:string" />
      <xs:element minOccurs="0" name="caseSize" type="xs:int" />
      <xs:element minOccurs="0" name="catalogColor" type="xs:string" />
      <xs:element minOccurs="0" name="color" type="xs:string" />
      <xs:element minOccurs="0" name="inventoryKey" type="xs:string" />
      <xs:element minOccurs="0" name="keywords" type="xs:string" />
      <xs:element minOccurs="0" name="pieceWeight" type="xs:double" />
      <xs:element minOccurs="0" name="productDescription" type="xs:string" />
      <xs:element minOccurs="0" name="productStatus" type="xs:string" />
      <xs:element minOccurs="0" name="productTitle" type="xs:string" />
      <xs:element minOccurs="0" name="size" type="xs:string" />
      <xs:element minOccurs="0" name="sizeIndex" type="xs:int" />
      <xs:element minOccurs="0" name="style" type="xs:string" />
      <xs:element minOccurs="0" name="uniqueKey" type="xs:string" />
      <xs:element minOccurs="0" name="category" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productImageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="brandLogoImage" type="xs:string" />
      <xs:element minOccurs="0" name="colorProductImage" type="xs:string" />
      <xs:element minOccurs="0" name="colorProductImageThumbnail" type="xs:string" />
      <xs:element minOccurs="0" name="colorSquareImage" type="xs:string" />
      <xs:element minOccurs="0" name="colorSwatchImage" type="xs:string" />
      <xs:element minOccurs="0" name="productImage" type="xs:string" />
      <xs:element minOccurs="0" name="specSheet" type="xs:string" />
      <xs:element minOccurs="0" name="thumbnailImage" type="xs:string" />
      <xs:element minOccurs="0" name="titleImage" type="xs:string" />
      <xs:element minOccurs="0" name="frontModel" type="xs:string" />
      <xs:element minOccurs="0" name="backModel" type="xs:string" />
      <xs:element minOccurs="0" name="sideModel" type="xs:string" />
      <xs:element minOccurs="0" name="backFlat" type="xs:string" />
      <xs:element minOccurs="0" name="frontFlat" type="xs:string" />
      <xs:element minOccurs="0" name="threeQModel" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productPriceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="casePrice" type="xs:double" />
      <xs:element minOccurs="0" name="caseSalePrice" type="xs:double" />
      <xs:element minOccurs="0" name="dozenPrice" type="xs:double" />
      <xs:element minOccurs="0" name="dozenSalePrice" type="xs:double" />
      <xs:element minOccurs="0" name="piecePrice" type="xs:double" />
      <xs:element minOccurs="0" name="pieceSalePrice" type="xs:double" />
      <xs:element minOccurs="0" name="priceCode" type="xs:string" />
      <xs:element minOccurs="0" name="priceText" type="xs:string" />
      <xs:element minOccurs="0" name="saleEndDate" type="xs:string" />
      <xs:element minOccurs="0" name="saleStartDate" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductInfoByBrand">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:productBrand" />
      <xs:element minOccurs="0" name="arg1" type="tns:webServiceUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productBrand">
    <xs:sequence>
      <xs:element minOccurs="0" name="brandName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductInfoByBrandResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:productInfoResponseBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductInfoByCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:productCategory" />
      <xs:element minOccurs="0" name="arg1" type="tns:webServiceUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="category" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductInfoByCategoryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:productInfoResponseBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductInfoByStyleColorSize">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="tns:product" />
      <xs:element minOccurs="0" name="arg1" type="tns:webServiceUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="product">
    <xs:sequence>
      <xs:element minOccurs="0" name="color" type="xs:string" />
      <xs:element minOccurs="0" name="size" type="xs:string" />
      <xs:element minOccurs="0" name="style" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductInfoByStyleColorSizeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:productInfoResponseBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductBulkInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:webServiceUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProductBulkInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:productInfoResponseBean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>