SanMarIntegration/Web References/com.sanmar.ws_sanmarproductinfoserviceport/SanMarProductInfoServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.webservice.integration.sanmar.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SanMarProductInfoServiceService" targetNamespace="http://impl.webservice.integration.sanmar.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://ws.sanmar.com:8080/SanMarWebService/SanMarProductInfoServicePort?xsd=1" namespace="http://impl.webservice.integration.sanmar.com/" />
    </xsd:schema>
  </types>
  <message name="getProductInfoByStyleColorSize">
    <part name="parameters" element="tns:getProductInfoByStyleColorSize" />
  </message>
  <message name="getProductInfoByStyleColorSizeResponse">
    <part name="parameters" element="tns:getProductInfoByStyleColorSizeResponse" />
  </message>
  <message name="getProductInfoByBrand">
    <part name="parameters" element="tns:getProductInfoByBrand" />
  </message>
  <message name="getProductInfoByBrandResponse">
    <part name="parameters" element="tns:getProductInfoByBrandResponse" />
  </message>
  <message name="getProductInfoByCategory">
    <part name="parameters" element="tns:getProductInfoByCategory" />
  </message>
  <message name="getProductInfoByCategoryResponse">
    <part name="parameters" element="tns:getProductInfoByCategoryResponse" />
  </message>
  <message name="getProductBulkInfo">
    <part name="parameters" element="tns:getProductBulkInfo" />
  </message>
  <message name="getProductBulkInfoResponse">
    <part name="parameters" element="tns:getProductBulkInfoResponse" />
  </message>
  <message name="getProductDeltaInfo">
    <part name="parameters" element="tns:getProductDeltaInfo" />
  </message>
  <message name="getProductDeltaInfoResponse">
    <part name="parameters" element="tns:getProductDeltaInfoResponse" />
  </message>
  <portType name="SanMarProductInfoServiceDelegate">
    <operation name="getProductInfoByStyleColorSize">
      <input message="tns:getProductInfoByStyleColorSize" />
      <output message="tns:getProductInfoByStyleColorSizeResponse" />
    </operation>
    <operation name="getProductInfoByBrand">
      <input message="tns:getProductInfoByBrand" />
      <output message="tns:getProductInfoByBrandResponse" />
    </operation>
    <operation name="getProductInfoByCategory">
      <input message="tns:getProductInfoByCategory" />
      <output message="tns:getProductInfoByCategoryResponse" />
    </operation>
    <operation name="getProductBulkInfo">
      <input message="tns:getProductBulkInfo" />
      <output message="tns:getProductBulkInfoResponse" />
    </operation>
    <operation name="getProductDeltaInfo">
      <input message="tns:getProductDeltaInfo" />
      <output message="tns:getProductDeltaInfoResponse" />
    </operation>
  </portType>
  <binding name="SanMarProductInfoServicePortBinding" type="tns:SanMarProductInfoServiceDelegate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getProductInfoByStyleColorSize">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getProductInfoByBrand">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getProductInfoByCategory">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getProductBulkInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getProductDeltaInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SanMarProductInfoServiceService">
    <port name="SanMarProductInfoServicePort" binding="tns:SanMarProductInfoServicePortBinding">
      <soap:address location="https://ws.sanmar.com:8080/SanMarWebService/SanMarProductInfoServicePort" />
    </port>
  </service>
</definitions>