SanMarIntegration/Web References/com.sanmar.ws_pricingandconfigurationservicebinding/PricingAndConfiguration_v1_0_0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.promostandards.org/WSDL/PricingAndConfiguration/1.0.0/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://www.promostandards.org/WSDL/PricingAndConfiguration/1.0.0/SharedObjects/" xmlns:ns1="http://www.codesynthesis.com/xmlns/xsstl" name="PricingAndConfiguration_v1_0_0" targetNamespace="http://www.promostandards.org/WSDL/PricingAndConfiguration/1.0.0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:ns3="http://www.promostandards.org/WSDL/PricingAndConfiguration/1.0.0/SharedObjects/" xmlns:ns1="http://www.promostandards.org/WSDL/PricingAndConfiguration/1.0.0/" xmlns:ns2="http://www.promostandards.org/WSDL/PricingAndConfiguration/1.0.0/" elementFormDefault="qualified" targetNamespace="http://www.promostandards.org/WSDL/PricingAndConfiguration/1.0.0/">
      <xsd:import schemaLocation="https://ws.sanmar.com:8080/promostandards/PricingAndConfigurationServiceBinding?xsd=1" namespace="http://www.promostandards.org/WSDL/PricingAndConfiguration/1.0.0/SharedObjects/" />
      <xsd:element name="GetAvailableLocationsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:wsVersion" />
            <xsd:element ref="ns3:id" />
            <xsd:element minOccurs="0" ref="ns3:password" />
            <xsd:element ref="ns3:productId" />
            <xsd:element ref="ns3:localizationCountry" />
            <xsd:element ref="ns3:localizationLanguage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AvailableLocation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:locationId" />
            <xsd:element ref="ns3:locationName" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAvailableLocationsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="AvailableLocationArray">
              <xsd:annotation>
                <xsd:documentation>
                            An Array of location names
                        </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns2:AvailableLocation" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ns3:ErrorMessage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDecorationColorsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:wsVersion" />
            <xsd:element ref="ns3:id" />
            <xsd:element minOccurs="0" ref="ns3:password" />
            <xsd:element ref="ns3:locationId" />
            <xsd:element ref="ns3:productId" />
            <xsd:element minOccurs="0" ref="ns3:decorationId" />
            <xsd:element ref="ns3:localizationCountry" />
            <xsd:element ref="ns3:localizationLanguage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Color">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:colorId" />
            <xsd:element ref="ns3:colorName" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DecorationMethod">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:decorationId" />
            <xsd:element ref="ns3:decorationName" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDecorationColorsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="DecorationColors">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="ColorArray">
                    <xsd:annotation>
                      <xsd:documentation>
                                        An Array of colors
                                    </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" ref="ns2:Color" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element ref="ns3:productId" />
                  <xsd:element ref="ns3:locationId" />
                  <xsd:element minOccurs="0" name="DecorationMethodArray">
                    <xsd:annotation>
                      <xsd:documentation>
                                        An Array of decoration method
                                    </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" ref="ns2:DecorationMethod" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="1" name="pmsMatch" nillable="true" type="xsd:boolean">
                    <xsd:annotation>
                      <xsd:documentation>
                                        PMS match or nto
                                    </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element minOccurs="1" name="fullColor" nillable="true" type="xsd:boolean">
                    <xsd:annotation>
                      <xsd:documentation>
                                        Full Color or not
                                    </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ns3:ErrorMessage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetFobPointsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:wsVersion" />
            <xsd:element ref="ns3:id" />
            <xsd:element minOccurs="0" ref="ns3:password" />
            <xsd:element ref="ns3:productId" />
            <xsd:element ref="ns3:localizationCountry" />
            <xsd:element ref="ns3:localizationLanguage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FobPoint">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:fobId" />
            <xsd:element name="fobCity">
              <xsd:annotation>
                <xsd:documentation>
                            The fob city
                        </xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="64" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="fobState">
              <xsd:annotation>
                <xsd:documentation>
                            The fob state
                        </xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="64" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element ref="ns3:fobPostalCode" />
            <xsd:element name="fobCountry">
              <xsd:annotation>
                <xsd:documentation>
                            The fob country
                        </xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="64" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CurrencySupportedArray">
              <xsd:annotation>
                <xsd:documentation>
                            An Array of currencies supported
                        </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns2:CurrencySupported" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ProductArray">
              <xsd:annotation>
                <xsd:documentation>
                            An Array of Product Ids
                        </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns2:Product" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CurrencySupported">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:currency" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Product">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:productId" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetFobPointsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="FobPointArray">
              <xsd:annotation>
                <xsd:documentation>
                            An Array of fob points
                        </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns2:FobPoint" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ns3:ErrorMessage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAvailableChargesRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:wsVersion" />
            <xsd:element ref="ns3:id" />
            <xsd:element minOccurs="0" ref="ns3:password" />
            <xsd:element minOccurs="0" ref="ns3:productId" />
            <xsd:element ref="ns3:localizationCountry" />
            <xsd:element ref="ns3:localizationLanguage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AvailableCharge">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:chargeId" />
            <xsd:element ref="ns3:chargeName" />
            <xsd:element ref="ns3:chargeDescription" />
            <xsd:element ref="ns3:chargeType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAvailableChargesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="AvailableChargeArray">
              <xsd:annotation>
                <xsd:documentation>
                            An Array of charges
                        </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns2:AvailableCharge" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ns3:ErrorMessage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetConfigurationAndPricingRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:wsVersion" />
            <xsd:element ref="ns3:id" />
            <xsd:element minOccurs="0" ref="ns3:password" />
            <xsd:element ref="ns3:productId" />
            <xsd:element minOccurs="0" ref="ns3:partId" />
            <xsd:element ref="ns3:currency" />
            <xsd:element ref="ns3:fobId" />
            <xsd:element ref="ns3:priceType" />
            <xsd:element ref="ns3:localizationCountry" />
            <xsd:element ref="ns3:localizationLanguage" />
            <xsd:element ref="ns3:configurationType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Part">
        <xsd:annotation>
          <xsd:documentation>This object contains information about a part</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:partId" />
            <xsd:element minOccurs="0" ref="ns3:partDescription" />
            <xsd:element minOccurs="0" name="PartPriceArray">
              <xsd:annotation>
                <xsd:documentation>
An Array of part prices
                        </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns2:PartPrice" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element ref="ns3:partGroup" />
            <xsd:element minOccurs="0" ref="ns3:nextPartGroup" />
            <xsd:element ref="ns3:partGroupRequired" />
            <xsd:element ref="ns3:partGroupDescription" />
            <xsd:element ref="ns3:ratio" />
            <xsd:element ref="ns3:defaultPart" />
            <xsd:element minOccurs="0" name="LocationIdArray">
              <xsd:annotation>
                <xsd:documentation>
                            An Array of location id
                        </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" name="LocationId">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element ref="ns3:locationId" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PartPrice">
        <xsd:annotation>
          <xsd:documentation>This object contains pricing a product based on the partId.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="minQuantity" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation>The minimum quantity</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="price">
              <xsd:annotation>
                <xsd:documentation>The price</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:fractionDigits value="4" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="discountCode">
              <xsd:annotation>
                <xsd:documentation>The discount code</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="priceUom">
              <xsd:annotation>
                <xsd:documentation>Enumerated list of unit of measure used to describe the price</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="ns3:QuantityUomType">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="2" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="priceEffectiveDate" nillable="true" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>The price effective date</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="priceExpiryDate" nillable="true" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>The price expiry date</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Location">
        <xsd:annotation>
          <xsd:documentation>This object contains decoration and location details for a given part</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:locationId" />
            <xsd:element ref="ns3:locationName" />
            <xsd:element name="DecorationArray">
              <xsd:annotation>
                <xsd:documentation>
An Array of decorations
                        </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns2:Decoration" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element ref="ns3:decorationsIncluded" />
            <xsd:element ref="ns3:defaultLocation" />
            <xsd:element ref="ns3:maxDecoration" />
            <xsd:element ref="ns3:minDecoration" />
            <xsd:element ref="ns3:locationRank" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Decoration">
        <xsd:annotation>
          <xsd:documentation>This object contains decoration information that are valid for a specific location</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:decorationId" />
            <xsd:element minOccurs="0" ref="ns3:decorationName" />
            <xsd:element ref="ns3:decorationGeometry" />
            <xsd:element ref="ns3:decorationHeight" />
            <xsd:element ref="ns3:decorationWidth" />
            <xsd:element ref="ns3:decorationDiameter" />
            <xsd:element ref="ns3:decorationUom" />
            <xsd:element name="allowSubForDefaultLocation" nillable="true" type="xsd:boolean">
              <xsd:annotation>
                <xsd:documentation>
Buyer is allowed to substitute a decoration location without changing the price
                        </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="allowSubForDefaultMethod" nillable="true" type="xsd:boolean">
              <xsd:annotation>
                <xsd:documentation>
Buyer is allowed to substitute a decoration method without changing the price
                        </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="itemPartQuantityLTM" nillable="true" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation>
Specifies the Part Quantity where the Less than Minimum (LTM) Setup Charge Applies. 
                        </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ChargeArray">
              <xsd:annotation>
                <xsd:documentation>
                            An Array of charges
                        </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns2:Charge" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="decorationUnitsIncluded" nillable="true" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation>The number of included decoration units.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ns3:decorationUnitsIncludedUom" />
            <xsd:element minOccurs="0" ref="ns3:decorationUnitsMax" />
            <xsd:element name="defaultDecoration" nillable="true" type="xsd:boolean">
              <xsd:annotation>
                <xsd:documentation>
                            The default decoration
                        </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="leadTime" nillable="true" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation>Lead Time</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="rushLeadTime" nillable="true" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation>Rush Lead Time</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Charge">
        <xsd:annotation>
          <xsd:documentation>This object contains a charge that is associated with the setup of the product, location and decoration configuration.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:chargeId" />
            <xsd:element ref="ns3:chargeName" />
            <xsd:element ref="ns3:chargeDescription" />
            <xsd:element ref="ns3:chargeType" />
            <xsd:element name="ChargePriceArray">
              <xsd:annotation>
                <xsd:documentation>An Array of  charge price</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns2:ChargePrice" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="1" name="chargesAppliesLTM" nillable="true" type="xsd:boolean">
              <xsd:annotation>
                <xsd:documentation>
The charges applies LTM
                        </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="chargesPerLocation" nillable="true" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation>
The number of times a charge will occur per location</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="chargesPerColor" nillable="true" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation>
The number of times a charge will occur per color</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ChargePrice">
        <xsd:annotation>
          <xsd:documentation>This object contains a single line of a price grid represented by an X and Y axis.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="xMinQty" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation>
The minimum quantity x grid
                        </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="xUom">
              <xsd:annotation>
                <xsd:documentation>The x grid uom</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="ns3:QuantityUomType">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="2" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="yMinQty" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation>The minimum quantity y grid</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="yUom" type="ns3:decorationUomType">
              <xsd:annotation>
                <xsd:documentation>The y grid uom</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="price">
              <xsd:annotation>
                <xsd:documentation>
The price
                        </xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:fractionDigits value="4" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="discountCode">
              <xsd:annotation>
                <xsd:documentation>The discount code</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="repeatPrice">
              <xsd:annotation>
                <xsd:documentation>repeat price</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:fractionDigits value="4" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="repeatDiscountCode">
              <xsd:annotation>
                <xsd:documentation>The repeat discount code</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="priceEffectiveDate" nillable="true" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>The price effective date</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="priceExpiryDate" nillable="true" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>The price expiry date</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Configuration">
        <xsd:annotation>
          <xsd:documentation>An object to hold Configuration data</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PartArray">
              <xsd:annotation>
                <xsd:documentation>An Array of parts</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns2:Part" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="LocationArray">
              <xsd:annotation>
                <xsd:documentation>An Array of Location</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns2:Location" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element ref="ns3:productId" />
            <xsd:element ref="ns3:currency" />
            <xsd:element ref="ns3:FobArray" />
            <xsd:element ref="ns3:priceType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetConfigurationAndPricingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="ns2:Configuration" />
            <xsd:element minOccurs="0" ref="ns3:ErrorMessage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetAvailableLocationsRequestMessage">
    <wsdl:part name="GetAvailableLocationsRequest" element="tns:GetAvailableLocationsRequest" />
  </wsdl:message>
  <wsdl:message name="GetAvailableLocationsResponseMessage">
    <wsdl:part name="GetAvailableLocationsResponse" element="tns:GetAvailableLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDecorationColorsRequestMessage">
    <wsdl:part name="GetDecorationColorsRequest" element="tns:GetDecorationColorsRequest" />
  </wsdl:message>
  <wsdl:message name="GetDecorationColorsResponseMessage">
    <wsdl:part name="GetDecorationColorsResponse" element="tns:GetDecorationColorsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFobPointsRequestMessage">
    <wsdl:part name="GetFobPointsRequest" element="tns:GetFobPointsRequest" />
  </wsdl:message>
  <wsdl:message name="GetFobPointsResponseMessage">
    <wsdl:part name="GetFobPointsResponse" element="tns:GetFobPointsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableChargesRequestMessage">
    <wsdl:part name="GetAvailableChargesRequest" element="tns:GetAvailableChargesRequest" />
  </wsdl:message>
  <wsdl:message name="GetAvailableChargesResponseMessage">
    <wsdl:part name="GetAvailableChargesResponse" element="tns:GetAvailableChargesResponse" />
  </wsdl:message>
  <wsdl:message name="GetConfigurationAndPricingRequestMessage">
    <wsdl:part name="GetConfigurationAndPricingRequest" element="tns:GetConfigurationAndPricingRequest" />
  </wsdl:message>
  <wsdl:message name="GetConfigurationAndPricingResponseMessage">
    <wsdl:part name="GetConfigurationAndPricingResponse" element="tns:GetConfigurationAndPricingResponse" />
  </wsdl:message>
  <wsdl:portType name="PricingAndConfigurationService">
    <wsdl:operation name="getAvailableLocations">
      <wsdl:input message="tns:GetAvailableLocationsRequestMessage" />
      <wsdl:output message="tns:GetAvailableLocationsResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDecorationColors">
      <wsdl:input message="tns:GetDecorationColorsRequestMessage" />
      <wsdl:output message="tns:GetDecorationColorsResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFobPoints">
      <wsdl:input message="tns:GetFobPointsRequestMessage" />
      <wsdl:output message="tns:GetFobPointsResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAvailableCharges">
      <wsdl:input message="tns:GetAvailableChargesRequestMessage" />
      <wsdl:output message="tns:GetAvailableChargesResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="getConfigurationAndPricing">
      <wsdl:input message="tns:GetConfigurationAndPricingRequestMessage" />
      <wsdl:output message="tns:GetConfigurationAndPricingResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PricingAndConfigurationServiceBinding" type="tns:PricingAndConfigurationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAvailableLocations">
      <soap:operation soapAction="getAvailableLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDecorationColors">
      <soap:operation soapAction="getDecorationColors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFobPoints">
      <soap:operation soapAction="getFobPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvailableCharges">
      <soap:operation soapAction="getAvailableCharges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConfigurationAndPricing">
      <soap:operation soapAction="getConfigurationAndPricing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PricingAndConfigurationService">
    <wsdl:port name="PricingAndConfigurationServiceBinding" binding="tns:PricingAndConfigurationServiceBinding">
      <soap:address location="https://ws.sanmar.com:8080/promostandards/PricingAndConfigurationServiceBinding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>