BlueGenerationsIntegration/Web References/com.bluegeneration.promostandards_promoinventoryservice/PromoInventoryService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.promostandards.org/WSDL/Inventory/2.0.0/" elementFormDefault="qualified" targetNamespace="http://www.promostandards.org/WSDL/Inventory/2.0.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://promostandards.bluegeneration.com/Services/PromoInventoryService.svc?xsd=xsd1" namespace="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" />
  <xs:element name="GetFilterValuesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" minOccurs="1" maxOccurs="1" ref="q1:wsVersion" />
        <xs:element xmlns:q2="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q2:id" />
        <xs:element xmlns:q3="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q3:password" />
        <xs:element xmlns:q4="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q4:productId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilterValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValues">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q5="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q5:productId" />
              <xs:element xmlns:q6="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q6:Filter" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q7="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q7:ServiceMessageArray" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventoryLevelsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" minOccurs="1" maxOccurs="1" ref="q8:wsVersion" />
        <xs:element xmlns:q9="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q9:id" />
        <xs:element xmlns:q10="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q10:password" />
        <xs:element xmlns:q11="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q11:productId" />
        <xs:element xmlns:q12="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q12:Filter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventoryLevelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q13:Inventory" />
        <xs:element xmlns:q14="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q14:ServiceMessageArray" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>