BlueGenerationsIntegration/Web References/com.bluegeneration.promostandards_promoinventoryservice/PromoInventoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.promostandards.org/WSDL/Inventory/2.0.0/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.promostandards.org/WSDL/Inventory/2.0.0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.promostandards.org/WSDL/Inventory/2.0.0/Imports">
      <xsd:import schemaLocation="https://promostandards.bluegeneration.com/Services/PromoInventoryService.svc?xsd=xsd0" namespace="http://www.promostandards.org/WSDL/Inventory/2.0.0/" />
      <xsd:import schemaLocation="https://promostandards.bluegeneration.com/Services/PromoInventoryService.svc?xsd=xsd1" namespace="http://www.promostandards.org/WSDL/Inventory/2.0.0/SharedObjects/" />
      <xsd:import schemaLocation="https://promostandards.bluegeneration.com/Services/PromoInventoryService.svc?xsd=xsd2" namespace="http://www.codesynthesis.com/xmlns/xsstl" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getFilterValuesRequest">
    <wsdl:part name="GetFilterValuesRequest" element="tns:GetFilterValuesRequest" />
  </wsdl:message>
  <wsdl:message name="getFilterValuesResponse">
    <wsdl:part name="GetFilterValuesResponse" element="tns:GetFilterValuesResponse" />
  </wsdl:message>
  <wsdl:message name="getInventoryLevelsRequest">
    <wsdl:part name="GetInventoryLevelsRequest" element="tns:GetInventoryLevelsRequest" />
  </wsdl:message>
  <wsdl:message name="getInventoryLevelsResponse">
    <wsdl:part name="GetInventoryLevelsResponse" element="tns:GetInventoryLevelsResponse" />
  </wsdl:message>
  <wsdl:portType name="InventoryService">
    <wsdl:operation name="getFilterValues">
      <wsdl:input wsaw:Action="getFilterValues" name="getFilterValuesRequest" message="tns:getFilterValuesRequest" />
      <wsdl:output wsaw:Action="http://www.promostandards.org/WSDL/Inventory/2.0.0/InventoryService/getFilterValuesResponse" name="getFilterValuesResponse" message="tns:getFilterValuesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getInventoryLevels">
      <wsdl:input wsaw:Action="getInventoryLevels" name="getInventoryLevelsRequest" message="tns:getInventoryLevelsRequest" />
      <wsdl:output wsaw:Action="http://www.promostandards.org/WSDL/Inventory/2.0.0/InventoryService/getInventoryLevelsResponse" name="getInventoryLevelsResponse" message="tns:getInventoryLevelsResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>