SanMarIntegration/Web References/test_sm_pricingserviceport/SanMarPricingServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.webservice.integration.sanmar.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SanMarPricingServiceService" targetNamespace="http://impl.webservice.integration.sanmar.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://impl.webservice.integration.sanmar.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getPricing" type="tns:getPricing" />
      <xs:element name="getPricingResponse" type="tns:getPricingResponse" />
      <xs:complexType name="getPricing">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="tns:item" />
          <xs:element minOccurs="0" name="arg1" type="tns:webServiceUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="item">
        <xs:sequence>
          <xs:element minOccurs="0" name="casePrice" type="xs:double" />
          <xs:element minOccurs="0" name="color" type="xs:string" />
          <xs:element minOccurs="0" name="dozenPrice" type="xs:double" />
          <xs:element minOccurs="0" name="inventoryKey" type="xs:string" />
          <xs:element minOccurs="0" name="myPrice" type="xs:double" />
          <xs:element minOccurs="0" name="piecePrice" type="xs:double" />
          <xs:element minOccurs="0" name="salePrice" type="xs:double" />
          <xs:element minOccurs="0" name="size" type="xs:string" />
          <xs:element minOccurs="0" name="sizeIndex" type="xs:int" />
          <xs:element minOccurs="0" name="style" type="xs:string" />
          <xs:element minOccurs="0" name="saleStartDate" type="xs:string" />
          <xs:element minOccurs="0" name="saleEndDate" type="xs:string" />
          <xs:element minOccurs="0" name="incentivePrice" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="webServiceUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="sanMarCustomerNumber" type="xs:string" />
          <xs:element minOccurs="0" name="sanMarUserName" type="xs:string" />
          <xs:element minOccurs="0" name="sanMarUserPassword" type="xs:string" />
          <xs:element minOccurs="0" name="senderId" type="xs:int" />
          <xs:element minOccurs="0" name="senderPassword" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPricingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:responseBean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="responseBean">
        <xs:sequence>
          <xs:element name="errorOccurred" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listResponse" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="response" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="getPricing">
    <part name="parameters" element="tns:getPricing" />
  </message>
  <message name="getPricingResponse">
    <part name="parameters" element="tns:getPricingResponse" />
  </message>
  <portType name="SanMarPricingServiceDelegate">
    <operation name="getPricing">
      <input message="tns:getPricing" />
      <output message="tns:getPricingResponse" />
    </operation>
  </portType>
  <binding name="SanMarPricingServicePortBinding" type="tns:SanMarPricingServiceDelegate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getPricing">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SanMarPricingServiceService">
    <port name="SanMarPricingServicePort" binding="tns:SanMarPricingServicePortBinding">
      <soap:address location="https://edev-ws.sanmar.com:8080/SanMarWebService/SanMarPricingServicePort" />
    </port>
  </service>
</definitions>