SanMarIntegration/Web References/test_sm_poservicebinding/PO_v1_0_0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns2="http://www.isotc211.org/iso4217/" xmlns:tns="http://www.promostandards.org/WSDL/PO/1.0.0/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://www.promostandards.org/WSDL/PO/1.0.0/SharedObjects/" xmlns:ns3="http://www.iso20022.org/" xmlns:ns1="http://www.codesynthesis.com/xmlns/xsstl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="PO_v1_0_0" targetNamespace="http://www.promostandards.org/WSDL/PO/1.0.0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:ns3="http://www.promostandards.org/WSDL/PO/1.0.0/SharedObjects/" xmlns:ns1="http://www.promostandards.org/WSDL/PO/1.0.0/" xmlns:ns5="http://www.isotc211.org/iso4217/" xmlns:ns2="http://www.promostandards.org/WSDL/PO/1.0.0/" elementFormDefault="qualified" targetNamespace="http://www.promostandards.org/WSDL/PO/1.0.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="https://edev-ws.sanmar.com:8080/promostandards/POServiceBinding?xsd=4" namespace="http://www.isotc211.org/iso4217/" />
      <xsd:import schemaLocation="https://edev-ws.sanmar.com:8080/promostandards/POServiceBinding?xsd=1" namespace="http://www.promostandards.org/WSDL/PO/1.0.0/SharedObjects/" />
      <xsd:element name="GetSupportedOrderTypesRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:wsVersion" />
            <xsd:element ref="ns3:id" />
            <xsd:element minOccurs="0" ref="ns3:password" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetSupportedOrderTypesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="supportedOrderTypes" type="ns3:OrderTypeType" />
            <xsd:element minOccurs="0" ref="ns3:ServiceMessageArray" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SendPORequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:wsVersion" />
            <xsd:element ref="ns3:id" />
            <xsd:element minOccurs="0" ref="ns3:password" />
            <xsd:element ref="ns2:PO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SendPOResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="transactionId" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>The transaction id of the PO submittal</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ns3:ServiceMessageArray" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="LineItem">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lineNumber" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation>The line number of the line item</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="lineReferenceId">
              <xsd:annotation>
                <xsd:documentation>The line identifier used by the distributor</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="64" />
                  <xsd:minLength value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element ref="ns3:description" />
            <xsd:element name="lineType">
              <xsd:annotation>
                <xsd:documentation>The type of order</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="ns3:LineTypeType">
                  <xsd:maxLength value="64" />
                  <xsd:minLength value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ns3:Quantity" />
            <xsd:element minOccurs="0" ref="ns3:fobId" />
            <xsd:element ref="ns3:ToleranceDetails" />
            <xsd:element name="allowPartialShipments" type="xsd:boolean">
              <xsd:annotation>
                <xsd:documentation>Allow partial shipments of this line item</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ns3:unitPrice" />
            <xsd:element name="lineItemTotal" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="requestedShipDate" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>The date the line item is requested to ship from the FOB point.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="requestedInHandsDate" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>The date the line item is requested to arrive at the shipping destination</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="referenceSalesQuote">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="64" />
                  <xsd:minLength value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ns3:Program" />
            <xsd:element minOccurs="0" name="endCustomerSalesOrder">
              <xsd:annotation>
                <xsd:documentation>The distributor's order number provided to the end customer</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="64" />
                  <xsd:minLength value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ns3:productId" />
            <xsd:element minOccurs="0" name="customerProductId">
              <xsd:annotation>
                <xsd:documentation>The distributor's product id</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="64" />
                  <xsd:minLength value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ns3:lineItemGroupingId" />
            <xsd:element minOccurs="0" name="PartArray">
              <xsd:annotation>
                <xsd:documentation>An array of product part information. This array should be populated with information from the supplier's Promostandards Product Pricing and Configuration service</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns3:Part" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ns3:Configuration" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orderType">
              <xsd:annotation>
                <xsd:documentation>The type of data transferred in the request</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="ns3:OrderTypeType">
                  <xsd:maxLength value="64" />
                  <xsd:minLength value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="orderNumber">
              <xsd:annotation>
                <xsd:documentation>Purchase order number</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="64" />
                  <xsd:minLength value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="orderDate" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>The date and time of the purchase order.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="lastModified" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>The date and time the purchase order was last modified</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="totalAmount" type="xsd:decimal">
              <xsd:annotation>
                <xsd:documentation>The total dollar amount of the purchase order</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="paymentTerms" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>The terms of the purchase order. i.e. NET15, NET30, etc.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="rush" type="xsd:boolean">
              <xsd:annotation>
                <xsd:documentation>Used to indicate a rush on the purchase order.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ns3:currency" />
            <xsd:element minOccurs="0" ref="ns3:DigitalProof" />
            <xsd:element minOccurs="0" name="OrderContactArray">
              <xsd:annotation>
                <xsd:documentation>An array of contact information</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns3:Contact" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="ShipmentArray">
              <xsd:annotation>
                <xsd:documentation>Any array of purchase order shipments</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns3:Shipment" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="LineItemArray">
              <xsd:annotation>
                <xsd:documentation>An array of purchase order line items </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns2:LineItem" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="termsAndConditions" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>The terms and conditions for this purchase order.  Information that is order specific or information dealing with the configuration or shipment of the order should not be entered here.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="salesChannel">
              <xsd:annotation>
                <xsd:documentation>The sales channel</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="64" />
                  <xsd:minLength value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="promoCode">
              <xsd:annotation>
                <xsd:documentation>The promotion code</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="64" />
                  <xsd:minLength value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TaxInformationArray">
              <xsd:annotation>
                <xsd:documentation>An array of TaxInformation objects related to calculating taxes</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns3:TaxInformation" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetSupportedOrderTypesRequestMessage">
    <wsdl:part name="GetSupportedOrderTypesRequest" element="tns:GetSupportedOrderTypesRequest" />
  </wsdl:message>
  <wsdl:message name="GetSupportedOrderTypesResponseMessage">
    <wsdl:part name="GetSupportedOrderTypesResponse" element="tns:GetSupportedOrderTypesResponse" />
  </wsdl:message>
  <wsdl:message name="SendPORequestMessage">
    <wsdl:part name="SendPORequest" element="tns:SendPORequest" />
  </wsdl:message>
  <wsdl:message name="SendPOResponseMessage">
    <wsdl:part name="SendPOResponse" element="tns:SendPOResponse" />
  </wsdl:message>
  <wsdl:portType name="POService">
    <wsdl:operation name="getSupportedOrderTypes">
      <wsdl:input message="tns:GetSupportedOrderTypesRequestMessage" />
      <wsdl:output message="tns:GetSupportedOrderTypesResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendPO">
      <wsdl:input message="tns:SendPORequestMessage" />
      <wsdl:output message="tns:SendPOResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="POServiceBinding" type="tns:POService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSupportedOrderTypes">
      <soap:operation soapAction="getSupportedOrderTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendPO">
      <soap:operation soapAction="sendPO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="POService">
    <wsdl:port name="POServiceBinding" binding="tns:POServiceBinding">
      <soap:address location="https://edev-ws.sanmar.com:8080/promostandards/POServiceBinding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>