SanMarIntegration/Web References/com.sanmar.ws_invoiceservicebind/Invoice_v1_0_0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.promostandards.org/WSDL/Invoice/1.0.0/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://www.promostandards.org/WSDL/Invoice/1.0.0/SharedObjects/" xmlns:ns1="http://www.codesynthesis.com/xmlns/xsstl" name="Invoice_v1_0_0" targetNamespace="http://www.promostandards.org/WSDL/Invoice/1.0.0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:ns3="http://www.promostandards.org/WSDL/Invoice/1.0.0/SharedObjects/" xmlns:ns1="http://www.promostandards.org/WSDL/Invoice/1.0.0/" xmlns:ns2="http://www.promostandards.org/WSDL/Invoice/1.0.0/" elementFormDefault="qualified" targetNamespace="http://www.promostandards.org/WSDL/Invoice/1.0.0/">
      <xsd:import schemaLocation="https://ws.sanmar.com:8080/promostandards/InvoiceServiceBinding?xsd=1" namespace="http://www.promostandards.org/WSDL/Invoice/1.0.0/SharedObjects/" />
      <xsd:element name="GetInvoicesRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:wsVersion" />
            <xsd:element minOccurs="0" ref="ns3:id" />
            <xsd:element ref="ns3:password" />
            <xsd:element ref="ns3:queryType" />
            <xsd:element minOccurs="0" ref="ns3:referenceNumber" />
            <xsd:element minOccurs="0" ref="ns3:invoiceRequestedDate" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Invoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns3:invoiceNumber" />
            <xsd:element ref="ns3:invoiceType" />
            <xsd:element ref="ns3:invoiceDate" />
            <xsd:element minOccurs="0" ref="ns3:purchaseOrderNumber" />
            <xsd:element name="BillTo">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element ref="ns3:AccountInfo" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="SoldTo">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element ref="ns3:AccountInfo" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ns3:terms" />
            <xsd:element minOccurs="0" ref="ns3:currency" />
            <xsd:element minOccurs="0" ref="ns3:fob" />
            <xsd:element ref="ns3:salesAmount" />
            <xsd:element ref="ns3:totalAmount" />
            <xsd:element ref="ns3:shippingAndHandlingAmount" />
            <xsd:element ref="ns3:advancePaymentAmount" />
            <xsd:element ref="ns3:invoiceAmount" />
            <xsd:element name="InvoiceLineItemsArray">
              <xsd:annotation>
                <xsd:documentation>
                            An Array of invoice lines
                        </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns3:InvoiceLineItem" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="SalesOrderNumberArray">
              <xsd:annotation>
                <xsd:documentation>
                            An Array of sales orders
                        </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns3:salesOrderNumber" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetInvoicesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="InvoiceArray">
              <xsd:annotation>
                <xsd:documentation>
                            An Array of invoices
                        </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" ref="ns2:Invoice" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" ref="ns3:ErrorMessage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetInvoicesRequestMessage">
    <wsdl:part name="GetInvoicesRequest" element="tns:GetInvoicesRequest" />
  </wsdl:message>
  <wsdl:message name="GetInvoicesResponseMessage">
    <wsdl:part name="GetInvoicesResponse" element="tns:GetInvoicesResponse" />
  </wsdl:message>
  <wsdl:portType name="InvoiceService">
    <wsdl:operation name="getInvoices">
      <wsdl:input message="tns:GetInvoicesRequestMessage" />
      <wsdl:output message="tns:GetInvoicesResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InvoiceServiceBinding" type="tns:InvoiceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getInvoices">
      <soap:operation soapAction="getInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InvoiceService">
    <wsdl:port name="InvoiceServiceBinding" binding="tns:InvoiceServiceBinding">
      <soap:address location="https://ws.sanmar.com:8080/promostandards/InvoiceServiceBinding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>